
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body {
    background-color: rgb(245, 243, 243);
}
li .clear {
    visibility: hidden;
}

li:hover .clear {
    visibility: visible;
  }

.input {
   width: 50%; 
}
.century {
    font-family: Calibri;
    color: rgb(236, 165, 153);
}
.listText {
    font-size: 24px;
    font-family: Cambria Math;
}
.pendientes {
    font-size: 20px;
}
.clear:hover {
    color: maroon;
}
